{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}

  <p>{{ review.user.username }}</p>
  <p>{{ review.title }}</p>
  <p>{{ review.content }}</p>
  <p>{{ review.movie_name }}</p>
  <p>{{ review.grade }}</p>
  <p>{{ review.created_at }}</p>
  <p>{{ review.updated_at }}</p>

  {% if request.user == review.user %}
    <form action="{% url 'reviews:update' review.pk %}" method="POST">
      <input type='submit' value='수정하기'>
    </form>
    <form action="{% url 'reviews:delete' review.pk %}" method="POST">
      <input type='submit' value='삭제하기'>
    </form>
  {% endif %}

  {% if request.user.is_authenticated %}
    <form action="{% url 'reviews:comment_create' review.pk %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form comment_form %}
      {% bootstrap_button button_type = "submit" cotent = "OK" %}
    </form>
  {% endif %}
  <hr>
  {% for comment in comments %}
    <p>{{comment.content}}</p>
    {% if request.user == comment.user %}
      <form action="{% url 'reviews:comment_delete' review.pk comment.pk%}" method="POST">
        {% csrf_token %}
        <input type="submit" value="DELETE">
      </form>
    {% endif %}
  {% endfor %}
{% endblock %}
