{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}

{% if request.user.is_authenticated %} 
<form action = "" method="POST">
  {% csrf_token %} 
  {% bootstrap_form comment_form %} 
  {% bootstrap_button button_type="submit" cotent="OK" %}
</form>
{% endif %}
<hr>
{% for comment in comments %}
  <p>{{comment.content}}</p>
  {% if request.user == review.user %}
  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="update">
  </form>
  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="DELETE">
  </form>
{% endif %} 
{% endfor %}
{% endblock %}
